pipeline/PullingData.json
{
	"name": "PullingData",
	"properties": {
		"activities": [
			{
				"name": "ForAllTheFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Github Validation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_array",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy-GitHub",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "src_csv",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sink",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@item().folder_name",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Github Validation",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DataValidation",
						"type": "DatasetReference"
					},
					"timeout": "0.12:00:00",
					"sleep": 10
				}
			},
			{
				"name": "GithubWeb",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://github.com/Ajitk23/Netflixdataproject/tree/main/raw_data"
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GithubWeb",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "GithubMetaData",
					"value": {
						"value": "@activity('GithubWeb').output.Response",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_array": {
				"type": "array",
				"defaultValue": [
					{
						"folder_name": "netflix_cast",
						"file_name": "netflix_cast.csv"
					},
					{
						"folder_name": "netflix_category",
						"file_name": "netflix_category.csv"
					},
					{
						"folder_name": "netflix_countries",
						"file_name": "netflix_countries.csv"
					},
					{
						"folder_name": "netflix_directors",
						"file_name": "netflix_directors.csv"
					},
					{
						"folder_name": "netflix_titles",
						"file_name": "netflix_titles.csv"
					}
				]
			}
		},
		"variables": {
			"GithubMetaData": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-19T20:56:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}